craft-payment-api-dev/src/main/mule/craft-payment-pay-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
  xmlns:email="http://www.mulesoft.org/schema/mule/email"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="PaymentFlow" doc:id="99bdf65a-59f3-4328-98c1-92b084da9968" >
    <http:listener doc:name="Listener" doc:id="7ebd43fb-770f-4a72-887c-2d73123d9820" config-ref="HTTP_Listener_Pay_port2" path="/payapi" allowedMethods="POST"/>
    <logger level="INFO" doc:name="Logger" doc:id="fcef8eb2-71bb-4bb5-9fc6-ba4dc9f16c10" message="flow started" />
    <ee:transform doc:name="Transform Message" doc:id="868cc197-812e-43f8-bc09-80b8924aedfe" >
      <ee:message >

      </ee:message>
      <ee:variables >
        <ee:set-variable variableName="pname" ><![CDATA[%dw 2.0
output application/java
---
payload.pname
]]></ee:set-variable>
        <ee:set-variable variableName="price" ><![CDATA[%dw 2.0
output application/java
---
payload.price as Number]]></ee:set-variable>
        <ee:set-variable variableName="user_id" ><![CDATA[%dw 2.0
output application/java
---

payload.uid as Number]]></ee:set-variable>
      </ee:variables>
    </ee:transform>
    <db:select doc:name="payment_info" doc:id="33481a2f-5a67-43c9-990e-92b73e891e08" config-ref="Database_Config_All_in_One">
      <db:sql><![CDATA[select * from payment_info where user_id= :userId]]></db:sql>
      <db:input-parameters ><![CDATA[#[{
  userId: vars.user_id as Number
}]]]></db:input-parameters>
    </db:select>
    <ee:transform doc:name="Transform Message" doc:id="f809678d-8962-41a5-8da4-690aa1e54594" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
var dataVal = payload map{
  amount: $.amount,
  uId: $.user_id
  
}
---
{
  (dataVal)
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <choice doc:name="Choice" doc:id="995e5f7c-949c-496f-b65f-c29a4fea0350" >
      <when expression="#[payload.amount &gt; vars.price]">
        <db:insert doc:name="Insert" doc:id="7a48f567-6d5a-4ae3-a6da-e1cb9723645c" config-ref="Database_Config_All_in_One" target="sqs1">
      <db:sql><![CDATA[insert into log_data(user_id,product_id,remaining_amount,paid_amount) values (:uid,:pname,:ramount,:pamount)]]></db:sql>
          <db:parameter-types />
          <db:input-parameters ><![CDATA[#[{
  uid: payload.uId,
  pname: vars.pname,
  ramount: payload.amount - vars.price,
  pamount: vars.price
}]]]></db:input-parameters>
          <db:auto-generated-keys-column-indexes />
    </db:insert>
        <ee:transform doc:name="Transform Message" doc:id="b90e6151-91c3-4a90-b07c-746276baa558">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <db:update doc:name="Update" doc:id="1545826c-4d56-4483-a986-b710f51c589b" config-ref="Database_Config_All_in_One">
      <db:sql><![CDATA[update payment_info set amount= :a where user_id = :userId]]></db:sql>
      <db:input-parameters><![CDATA[#[{
  a: payload.amount - vars.price,
  userId: vars.user_id
}]]]></db:input-parameters>
    </db:update>
        <ee:transform doc:name="Transform Message" doc:id="fb394fab-e01d-4402-ad14-7a39ec8a3806" >
          <ee:message >
            <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "you paid successfully"
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
      </when>
      <otherwise >
        <ee:transform doc:name="Transform Message" doc:id="651dda00-c942-4fec-9622-7068037b87f2" >
          <ee:message >
            <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "your balance is insufficient"
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
      </otherwise>
    </choice>
  </flow>
  

</mule>