craft-payment-api-dev/src/main/mule/craft-payapi-login-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="craft_payapi_loginFlow" doc:id="87e2f5c8-1641-4039-bb88-508fe8641766" >
		<http:listener doc:name="Listener" doc:id="acf27ccc-242e-47b0-90c9-ca38e3e5075f" config-ref="HTTP_Listener_login_port3" path="/login_api"/>
		<db:select doc:name="Select" doc:id="4bf3ba9c-9cf3-4cda-94f6-a61b30e2d82a" config-ref="Database_Config_All_in_One">
			<db:sql><![CDATA[SELECT * FROM user_info where email=:uname And password=:upassword]]></db:sql>
			<db:input-parameters><![CDATA[#[{
   uname: payload.username,
   upassword: payload.password
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6a59c9d8-590a-4764-aebd-5838d0367365" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload.email != null) payload[0] else {
	message: "user name and password not found"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
